body {
    font-family: Source Code Pro, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
